#menu_name{
    margin-left: 82px;
    margin-bottom: 5px;
    width: 140px;
}
.list_menu{
    width: 100%;
}
.text{
    width: 100%;
}
#modal_form {
    width: 300px;
    height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Пoдлoжкa */
#overlay {
    z-index: 3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position: fixed; /* всегдa перекрывaет весь сaйт */
    background-color: #000; /* чернaя */
    opacity: 0.8; /* нo немнoгo прoзрaчнa */
    width: 100%;
    height: 100%; /* рaзмерoм вo весь экрaн */
    top: 0;
    left: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    cursor: pointer;
    display: none; /* в oбычнoм сoстoянии её нет) */
}
#icon{
    vertical-align: middle;
}
#menu_item:hover div{
    text-decoration:underline;
}
.edit_text {
    width: 80%;
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 14px;
}
#edit_table{
    width: 100%;
}
a.vsmenu:link, a.vsmenu:visited, a.vsmenu, a.vsmenu:active {
    margin: 1px 1px 1px 8px;
    cursor: pointer;
}
a.vsmenu:link, a.vsmenu:visited, a.vsmenu:hover, a.vsmenu:active {
    color: #202020;
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 11px;
    font-weight: normal;
    margin: 1px 1px 1px 8px;
    text-align: right;
    cursor: pointer;
}

#menu_item div{width:200px;display:inline-block}
#menu_item{
    vertical-align: middle;
    min-width: 230px;
    background: #e3e6e8 -moz-linear-gradient(center bottom , rgb(255, 255, 255) 90%, rgb(240, 240, 240) 100%) repeat scroll 0 0;
    border-color: #ccc #ccc #ccc #aaa;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 4px #ddd;
    color: #4a4a4a;
    font-family: arial,tahoma,verdana,helvetica;
    font-weight: bold;
    margin-top: 4px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #ffffff;
    cursor: pointer;
    width:90px;display:inline-block;
}
#users_action, #find_users{
    vertical-align: top;
    min-width: 200px;
}
.tabPage{
    background-image: -moz-linear-gradient(center bottom , rgba(110, 110, 110, 0.5) 25%, rgba(210, 210, 210, 0.5) 100%);
    border-color: #ccc #bbb #bbb;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 4px #ddd;
    color: #444;
    margin: 0 0 14px;
    padding: 9px 8px 8px;
    width: auto;
}
#fk_user, #admin, #post_id,#usergroup_id{
    background: #ffc000 none repeat scroll 0 0;
}
#fk_user, #post_id,#usergroup_id {
    width: 80%;
}
.page_vmenu{
    width: 150px;
    /*height:1px; clear:both;*/
    /*padding-top: -50px;*/
}
.page_reference{
    padding-left: 150px;
    width: 80%;
    clear:both;
}
.header{
    width:auto; position: fixed; height: 109px; top: 140px;
}
.perms_module{
    width: 250px;
}
/*.switch{*/
    /*padding-right: 20px;*/
/*}*/
/*#group_permission #reference_title{*/
    /*width: 110%;*/
    /*display:block !important;*/
    /*overflow:auto!important;*/
/*}*/
/*#reference_title th, #reference_title td{*/
    /*border-bottom: none !important;*/
/*}*/
#reference tr{
    display: table;
    /*width: 1400px;*/
    table-layout: fixed;
}

.scrolling-table tbody {
    display: block;
    /*height: 150px;*/
    /*width: 600px;*/
    overflow: hidden;
    overflow-y: auto;
}

.scrolling-table tr {
    display: table;
    width: 400px;
    table-layout: fixed;
}
/*використовувати при відладці зовнішнього вигляду таблиці*/
/*.scrolling-table td, .scrolling-table th{*/
    /*border-right: 1px solid #E90E8B;*/
/*}*/

/*#reference_body{*/
    /*display: block;*/
    /*width: 450px;*/
    /*height: 450px;*/
    /*overflow: hidden;*/
    /*overflow-y: auto;*/
/*}*/
/*#reference{*/
    /*width: 100%;*/
/*}*/
/*#reference_title{*/
    /*width:auto; position: fixed; height: auto; top: 60px;*/
/*}*/
#inactiveTab{
    cursor:no-drop;
    background-image: none !important;
    border-color: #ccc #bbb -moz-use-text-color;
    border-radius: 6px 6px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    font-family: arial,tahoma,verdana,helvetica;
    margin: 0 0.2em;
    padding: 5px 12px;
    color: #bfbfbf;
    text-decoration: none;
    white-space: nowrap;
}
#headercontrol{
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 10;
    border-collapse: collapse;
}
#headercontrol td{
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #000; /* Рамка вокруг ячеек */
    /*height: 50px;*/
}
.param{
    /*border: 1px solid #007700;*/
    vertical-align: top;
}
.vmenu{
    /*top: -630px;*/
    width: 120px;
    left: -10px;
}
/*table#reference{*/
    /*padding-top: 150px;*/
/*}*/
.reference{
    padding-left: 190px;
    top: 50px;
    width: 100%;
    /*height:450px!important;*/
    /*overflow:auto!important;*/

}
#group_permission{
    height:605px;
}
.group_menu{
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.combobox{
    background: #ffc000;
    border-color: rgb(255, 255, 255);
    width: 80%;
}
/*.combobox{*/
    /*background: #ffc000 -moz-linear-gradient(center bottom , #ffc000 90%, rgb(240, 240, 240) 100%) repeat scroll 0 0;*/
    /*padding: 1px 2px 1px 7px!important;*/
    /*vertical-align: middle;*/
    /*border-radius: 3px;*/
    /*border-style: solid;*/
    /*border-width: 1px*/
    /*border-color: rgb(255, 255, 255);*/
/*}*/
.combobox_btn{
    float: right;
    padding: 5px;
    border-radius: 5px;
}