#menu_name{
    margin-left: 82px;
    margin-bottom: 5px;
    width: 140px;
}
.list_menu{
    width: 100%;
}
.text{
    width: 100%;
}
#contactlist td{
    border: transparent!important;
}
.tabpriceactive{
    background-color: white;
}
.autocalc{
    background-color: #EFEFD4;
    /*color: #ffffff;*/
}
.activepage{
    background-color:#fafafa;
}
.unactivepage{
    background: #cccccc;
}
#tabs_area .pass{
    display: none;
}
.subcatalog {
    padding-left: 60px!important;
}
.subcatalog a{
    color: #d10310!important;
    /*margin-left: 55px!important;*/

    font-size: 12px!important;

}
.proposition{
    background-color: white;
}
#typicalqueries{
    padding-left: 25px;
height: 200px; /* высота нашего блока */
width: 450px; /* ширина нашего блока */
background: #fff; /* цвет фона, белый */
border: 1px solid #C1C1C1; /* размер и цвет границы блока */
overflow: hidden; /* прокрутка по горизонтали */
overflow-y: auto; /* прокрутка по вертикали */
}
.setdate{
    border: solid!important;
    border-width: 2px!important;
    border-color: #999999!important;
    border-top-color: #e8e8e8!important;
    border-left-color: #e8e8e8!important;
    width: 80px;
}
.popupmenu{
    /*border-color: #00adee;*/
    /*border-top: solid;*/
    /*border-top-width: 5px;*/
    border: solid!important;
    border-width: 5px!important;;
    border-color: #999999!important;;
    border-top-color: #e8e8e8!important;;
    border-left-color: #e8e8e8!important;;
}

.spymode{
    z-index: 2;
    width: 250px;
    height: 45px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
    float: right;
    margin-right: 90px;
}
#groupproducts{
    background-color: white;
    width: 300px;
    height: 600px;
    overflow: hidden;
    overflow-y: auto;
    margin-top: -19px;
}
#groupproducts ul{
    font-weight: bold;
    margin-left: -35px ;
    color: #8d2f2b;
    font-size: 14px;

}
#groupproducts li, #groupproducts a, #groupproducts a:visited, #groupproducts a:hover, #groupproducts a:active,
    #groupproducts b, #groupproducts b:hover, #groupproducts b:active {
    list-style: outside none none;
    padding-left: 30px;
}
#SendMail{
    border-radius: 10px;
    background-color: #A19B9E;
    width: auto;
    height: 40px;
    position: absolute;
    text-align: center;
    border-bottom-color: dimgrey;
    border-bottom-width: 2px;
    display: none;
    z-index: 10;
}
#groupproducts_title{
    background-color: white;
    text-align: center;
    width: 300px;
    /*float: left;*/
}
.selected, .selected a {
    background-color: #00adee;
    color: #ffffff!important;
}
.overdue{
    background-color: red;
}
#groupproducts_title p{
    border-bottom: 1px solid #e9eaea;
    color: #d10310;
    font: 18px "MyriadProLight";
    /*padding-bottom: 12px;*/
}
.whitetitle{
    background-color: white!important;
    color: #000000!important;
    font-size: 12px!important;
    font-weight: normal!important;
    text-align: left!important;
}
.dates{
    list-style: outside none none;
    padding-left: 50px;
    margin-left: -40px;
    cursor: pointer;
}
.month{
    margin-left: -40px;
    cursor: pointer;
}
.respon_alias{
    background: #006aac;
    color: #f2f2f2;
}
.subtype{
    background: #f2f2f2;
}
tr.subtype:hover {
    background: #f3bd48!important; /* Цвет фона при наведении */
    color: #fff!important; /* Цвет текста при наведении */
}
.lineactive{
    background: #b4d18a!important;
    color: #000000!important;

}
.lineactive:hover{
    background: #f3bd48!important; /* Цвет фона при наведении */
    color: #fff!important; /* Цвет текста при наведении */
}
.userlist{
  background-color: #C8C8C8;
}
.userlist:hover{
    background: #f3bd48!important; /* Цвет фона при наведении */
    color: #fff!important; /* Цвет текста при наведении */
}
/*.userlist:hover{*/
    /*!*background: #f3bd48!important; !* Цвет фона при наведении *!*!*/
    /*!*color: #fff!important; !* Цвет текста при наведении *!*!*/
    /*border: solid 5px!important;*/
    /*border-color: #0B63A2!important;*/
/*}*/
.bestvalue {
    background-color: #EFEFD4!important;
}
.region {
    background-color: #EAF3F8;
}
.region:hover{
    background: #f3bd48!important; /* Цвет фона при наведении */
    color: #fff!important; /* Цвет текста при наведении */
}
.totalvalue{
    text-align: center!important;
}
.pair td{
    border-color: #939393!important; /* Цвет границы */
    border-style: solid!important; /* Стиль границы */
    border-bottom-width: 1px!important; /* Толщина линии внизу текста */
    border-top-width: 1px!important; /* Толщина линии над текстом */
    border-left-width: 0px!important; /* Толщина линии над текстом */
    border-right-width: 0px!important; /* Толщина линии над текстом */
}
.even, .nohover .even:hover, tr.even td.nohover {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , rgb(242, 242, 242) 85%, rgb(248, 248, 248) 100%) repeat scroll 0 0;
    border: 1px;
    font-family: arial,tahoma,verdana,helvetica;
    margin-bottom: 1px;
}
.odd{
    border-color: #939393!important; /* Цвет границы */
    border-style: solid!important; /* Стиль границы */
    border-bottom-width: 1px!important; /* Толщина линии внизу текста */
    border-top-width: 1px!important; /* Толщина линии над текстом */
    border-left-width: 0px!important; /* Толщина линии над текстом */
    border-right-width: 0px!important; /* Толщина линии над текстом */
}
/**::before, *::after {*/
    /*box-sizing: border-box;*/
/*}*/
.subdivision{
    background-color: #6facd5;
    border-color: #ffffff;
    font-weight: bold;
    color: white;
}
.dictinary:hover{
    background-color: #d9eef7;
    border-color: #ffffff;
    /*font-weight: bold;*/
    color: black;
}
.subdivision:hover{
    background-color: #d9eef7;
    border-color: #ffffff;
    font-weight: bold;
    color: blue;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination a:hover {
    color: #428bca;
    text-decoration: none;
    background-color: rgb(238,238,238);
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #428bca;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li {
    display: inline;
}
/** {*/
    /*box-sizing: border-box;*/
/*}*/
.mentor {
    font-weight: 600;
    color: red;
}
#modal_form {
    width: 300px;
    height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
#setNeed{
    width: 60px;
    height: 30px;
    position: absolute;
    background-color: darkseagreen;
    border-radius: 5px;
    border-color: #4d9200;
    border: 2px solid #567b1b;
    color: whitesmoke;
    display: none;
    z-index: 100;
    cursor: pointer;
    text-align:center;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close{
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
#send_after_phone{
    position: absolute;
    alignment: top;
}
/* Пoдлoжкa */
#overlay {
    z-index: 3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position: fixed; /* всегдa перекрывaет весь сaйт */
    background-color: #000; /* чернaя */
    opacity: 0.8; /* нo немнoгo прoзрaчнa */
    width: 100%;
    height: 100%; /* рaзмерoм вo весь экрaн */
    top: 0;
    left: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    cursor: pointer;
    display: none; /* в oбычнoм сoстoянии её нет) */
}
#icon{
    vertical-align: middle;
}
#menu_item:hover div{
    text-decoration:underline;
}
.edit_text {
    width: 80%;
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 14px;
}
#edit_table{
    width: 100%;
}
.message{
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
}
#locktools{
    top:0;
    position: absolute;
    height: 50px;
    width: 100%;
    opacity: 0.7;
    background-color: white;
}
.message div:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
a.vsmenu:link, a.vsmenu:visited, a.vsmenu, a.vsmenu:active {
    margin: 1px 1px 1px 8px;
    cursor: pointer;
}
a.vsmenu:link, a.vsmenu:visited, a.vsmenu:hover, a.vsmenu:active {
    color: #202020;
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 11px;
    font-weight: normal;
    margin: 1px 1px 1px 8px;
    text-align: right;
    cursor: pointer;
}

#menu_item div{width:200px;display:inline-block}
#menu_item{
    vertical-align: middle;
    min-width: 230px;
    background: #e3e6e8 -moz-linear-gradient(center bottom , rgb(255, 255, 255) 90%, rgb(240, 240, 240) 100%) repeat scroll 0 0;
    border-color: #ccc #ccc #ccc #aaa;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 4px #ddd;
    color: #4a4a4a;
    font-family: arial,tahoma,verdana,helvetica;
    font-weight: bold;
    margin-top: 4px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #ffffff;
    cursor: pointer;
    width:90px;display:inline-block;
}
#users_action, #find_users{
    vertical-align: top;
    min-width: 200px;
}
#select_respon{
    width: 100%;
}
#users{
    color: #000;
    font-weight: bold;
}
#previewtask, #editmail,#validators{
    border-color: #f6f6f6 #ccc #bbb;
    border-style: solid;
    border-width: 5px;
    box-shadow: 3px 3px 4px #ddd;
}
#validators{
     border-color: #f6f6f6 #ccc #bbb;
     border-style: solid;
     border-width: 3px;
     box-shadow: 1px 1px 2px #ddd;
 }
.tabPage{
    background-image: -moz-linear-gradient(center bottom , rgba(110, 110, 110, 0.5) 25%, rgba(210, 210, 210, 0.5) 100%);
    border-color: #ccc #bbb #bbb;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 4px #ddd;
    color: #444;
    margin: 0 0 14px;
    padding: 9px 8px 8px;
    width: 1020px;
}
#contactlist_body, .contactlist_contact{
    font-size: 12;
}
#BirthdayDate{
    width: 150px;
}
.switcher{
   margin: 3 0 0 5;

}
#phone_indicator{
    cursor: pointer;
}
#th_responsibility{
    max-width: 150px;
}
#th_birthdate{
    max-width: 100px;
}
#th_email, #th_phonemobile, #th_skype{
    min-width: 130px;
}
.combobox .dolibarrcombobox{
    background: #ffc000 none repeat scroll 0 0!important;
    border-color: rgb(255, 255, 255)!important;
    width: 80%!important;
}
input, textarea, select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.2);
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-top: 1px;
    padding: 2px;
}
*::-moz-placeholder {
    color: #ccc;
}
table.border td, div.border div div.tagtd {
    border-collapse: collapse;
}
table.border, table.dataTable, .table-border, .table-border-col, .table-key-border-col, .table-val-border-col, div.border {
    border-collapse: collapse;
}
.tabPage {
    color: #444;
}
#ActionList{
    width: 1000px;
}
#date_next_action{
    width: 160px;
}
body {
    color: #101010;
    direction: ltr;
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 12px;
}
.middle_size{
    font-size: 12px !important;
}
.top{
    vertical-align: top;
}
.small_size{
    font-size: 10px;
}
.multiple_header_table th{
    border: solid  #ffffff;
    border-color: #d2d1d1;
    border-width: inherit;
    /*border-left: solid 1px #fdffff!important;*/
}
.multiple_header_table{
    background: #da9694;
    cellspacing: 1px;
    color: #fff;
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
div.header_table, tr.header_table, th.header_table, tr.header_table_sel, form.header_table, form.header_table_sel, table.dataTable thead tr {
    /*background: rgb(218, 150, 148) -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.3) 0%, rgba(250, 250, 250, 0.3) 100%) repeat-x scroll 0 0;*/
    background: #da9694;
    border-bottom: 1px solid #fdffff;
    color: #fff;
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

tr.header_table th, th.header_table, tr.header_table td, td.header_table, form.header_table div, div.header_table {
    border-bottom: 1px solid #bbb;
    font-family: arial,tahoma,verdana,helvetica;
    font-weight: bold;
    text-shadow: 1px 0 1px #888;
    vertical-align: middle;
    padding-left: 5px!important;

}
div.header_page, th.header_page, tr.header_table_sel, form.header_page, form.header_table_sel, table.dataTable thead tr {
    background: rgb(33, 159, 243);
/*//-moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.3) 0%, rgba(250, 250, 250, 0.3) 100%) repeat-x scroll 0 0;*/
    border-bottom: 1px solid #fdffff;
    color: #fff;
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}


#fk_user, #admin, #post_id,#usergroup_id{
    background: #ffc000 none repeat scroll 0 0;
}
#fk_user, #post_id,#usergroup_id {
    width: 80%;
}
.page_vmenu{
    width: 150px;
    /*height:1px; clear:both;*/
    /*padding-top: -50px;*/
}
a.user{
    color: #0B63A2;
    font-weight: bold;
}
.page_reference{
    padding-left: 150px;
    width: 80%;
    clear:both;
}
.header{
    width:auto; position: fixed; height: 109px; top: 140px;
}
.perms_module{
    width: 250px;
}
#customerinfo{
    margin-left: 0px !important;
}

#reference tr{
    display: table;
    /*width: 1400px;*/
    table-layout: fixed;
}
#comerc td, #service td, #accounts td, #mentor td{
    /*max-width: 20!important;*/
    min-width: 20px!important;
}
.scrolling-table tbody, .WidthScroll tbody, .WidthScroll thead {
    display: block;
    /*height: 150px;*/
    /*width: 600px;*/
    overflow: hidden;
    overflow-y: auto;
}
.WidthScroll{
    padding-top: 15px;
}

.word_wrap{
    /*white-space: nowrap; *//* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    /*background: #fc0; *//* Цвет фона */
    /*padding: 5px; *//* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */

}
.proposed{
   background-color: #e2ffe2;
}
.scrolling-table tr{
    display: table;
    width: 400px;
    table-layout: fixed;
}
/*використовувати при відладці зовнішнього вигляду таблиці*/
/*.scrolling-table td, .scrolling-table th{*/
    /*border-right: 1px solid #E90E8B;*/
/*}*/

#reference_body{
    font-size: 12px;
}
#schedule_table{
    font-size: 10px;
}
#currenttime{
  height: 2px;
  background-color: #ff7f6e;
    position: relative;
}
#8h0m{
    max-height: 24px;
}
#taskfield{
    padding: 0!important;
}
a.calluser, a.calluser:hover{
    text-decoration: none!important;
    color: #396b9e;
    font-weight: bold;
}
.current_taskitem{
    height: 100%;
    position: relative;
    padding: 0 0 0!important;
    border-radius: 8px;
    background: #79b7e7;
    border: solid 1px;
    border-color: #396b9e;
    z-index: 1;
    cursor: pointer;
}
.global_taskitem{
    height: 100%;
    position: relative;
    padding: 0 0 0!important;
    border-radius: 8px;
    background: #f4c63f;
    border: solid 1px;
    border-color: #396b9e;
    z-index: 1;
    cursor: pointer;
}
.office_meetting_taskitem{
    height: 100%;
    position: relative;
    padding: 0 0 0!important;
    border-radius: 8px;
    background: #88be14;
    border: solid 1px;
    border-color: #396b9e;
    z-index: 1;
    cursor: pointer;
}
.office_callphone_taskitem{
    height: 100%;
    position: relative;
    padding: 0 0 0!important;
    border-radius: 8px;
    background: #e2ddcf;
    z-index: 1;
    cursor: pointer;
}
.office_callphone_taskitem div, .office_meetting_taskitem div, .global_taskitem div, .current_taskitem div{
    border-top: solid 1px;
    border-top-color: #B0B0B0;
}
#bookmarkActionPanel {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(119, 172, 42, 1) 0%, rgba(119, 172, 42, 1) 56%, rgba(86, 135, 16, 1) 100%) repeat scroll 0 0;
    border-top: 1px solid #b4d18a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    cursor: pointer;
    right: -30px;
    top: 75px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    z-index: 3;
}
#ActionPanel{
    background-color: #ffffff ;
    position: fixed;
    right: -255px;
    width: 250px;
    height: 100%;
    top: 50px;
    z-index: 2;
}

#bookmarkActionPanel span {
    color: #fff;
    display: block;
    font-family: proxima_novabold,arial;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 15px;
    text-decoration: none;
    text-shadow: 1px 0 1px #000;
    text-align: center;
}
.departure_taskitem{
    font-size: 6px;
    height: 100%;
    /*position: relative;*/
    padding: 0 0 0!important;
    border-radius: 8px;
    background: #a6c9e2;
    border: solid 1px;
    border-color: #396b9e;
    z-index: 1;
    cursor: pointer;
}
.datenowlink{
    display: none;
}
.sel_item{
    font-weight: bolder;
    text-shadow: white;
}
.emptyitem{
    padding: 0 0 0!important;
    border-collapse: collapse;
}
#tasklist{
    position: relative;
}

.tasklist, .tasklist tbody{
    width: 980px;
    vertical-align: top;
    border-collapse: collapse;
    border: none;
    overflow: hidden !important;
}

.tasklist td{
    border: none !important;
}
.taskitem{
    font-size: 6;
    height: 5px;
    position: relative;
    padding: 0 0 0!important;

    /*border-radius: 8px;*/
    /*background: #bebedc;*/
    width: 800px;
    border: solid 1px;
    border-color: #396b9e;
    z-index: 1;
    cursor: pointer;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#bebedc), to(#aeaecc)); -moz-border-radius:4px;*/
}
.lanch{
    background:#f1f1e3;
}
.task_cell{
    font-size: 12px;
    border-color: #307fd7;
    border-right: solid 1px;
    height: 100%;
    text-align: center;
}
.Tab{
    cursor:pointer;
    border-color: #ccc #bbb -moz-use-text-color;
    border-radius: 6px 6px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    font-family: arial,tahoma,verdana,helvetica;
    font-weight: bold;
    margin: 0 0.2em;
    padding: 5px 12px;
    color: #4a4a4a;
    text-decoration: none;
    white-space: nowrap;
}
.select_item{
    background-color: #EFEFD4;
}
.inactiveTab{
    cursor:no-drop!important;
    /*background-image: none !important;*/
    /*border-color: #ccc #bbb -moz-use-text-color;*/
    /*border-radius: 6px 6px 0 0;*/
    /*border-style: solid solid none;*/
    /*border-width: 1px 1px medium;*/
    /*box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);*/
    /*font-family: arial,tahoma,verdana,helvetica;*/
    /*margin: 0 0.2em;*/
    /*padding: 5px 12px;*/
    /*color: #bfbfbf;*/
    /*text-decoration: none;*/
    /*white-space: nowrap;*/
}
#headercontrol, .classifycation, #schedule_body{
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 10px;
    border-collapse: collapse;
}
#headercontrol td, .classifycation td, #schedule_body td{
    padding: 5px; /* Поля вокруг текста */
    border: 2px solid #000; /* Рамка вокруг ячеек */
    min-width: 50px;
}
.param_title, .param_title td{
    border-style: none!important;
    font-style: italic;
    font-size: 14px;
}
.param_item{
    width: 100%;
}
.param td{
    border-collapse: collapse;
}
.param{
    /*border: 1px solid #007700;*/
    background-color: #ffffff;
    border-collapse: collapse;
    vertical-align: top;
}
.vmenu{
    /*top: -630px;*/
    width: 120px;
    left: -10px;
}
/*table#reference{*/
    /*padding-top: 150px;*/
/*}*/
.right_col{
    padding-left: 30px;
}
.autoinsert{
    background-color: forestgreen; color: #ffffff;
}
#lefttable{
    margin-left:2px!important;
}
.selected_row, .selected_row a{
    background: #59996a;
    color: white;
}
.notinteresting_proposition{
    opacity: 0.5;
}
.impair td, .pair td{
    padding-left:0px!important;
}
.contant_tble{
    margin-top: 20px;
}
.fielderrorSelBorder{
    outline: 2px solid red;
}
.validfieldSelBorder{
    outline: 2px solid green;
}
.fielderror{
    color: red;
    font-weight: bold;
}
td.titreProposed {
    font-family: arial,tahoma,verdana,helvetica;
	font-weight: bold;
	color: rgb(50, 50, 130);
    font-size: 16px;
	text-decoration: none;
}
.areas_header, .address_header{
    width:auto;
    height:100px;
    /*background:#669900;*/
    float:left;
    margin-left:15px;
    text-align:center;
}

.address_header{
    height:60px!important;
    margin-left:15px!important;
}

.reference{
    padding-left: 190px;
    top: 50px;
    width: 100%;
    /*height:450px!important;*/
    /*overflow:auto!important;*/

}
#group_permission{
    height:605px;
}
.group_menu{
    font-family: arial,tahoma,verdana,helvetica;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.combobox{
    background: #ffc000;
    border-color: rgb(255, 255, 255);
    width: 80%;
}
/*#selperiod *{*/
    /*background-color:red;*/
/*}*/
/*.combobox{*/
    /*background: #ffc000 -moz-linear-gradient(center bottom , #ffc000 90%, rgb(240, 240, 240) 100%) repeat scroll 0 0;*/
    /*padding: 1px 2px 1px 7px!important;*/
    /*vertical-align: middle;*/
    /*border-radius: 3px;*/
    /*border-style: solid;*/
    /*border-width: 1px*/
    /*border-color: rgb(255, 255, 255);*/
/*}*/
.combobox_btn{
    float: right;
    padding: 5px;
    border-radius: 5px;
}